.user {
    flex: 4;
    padding: 20px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: 	#a3a3a3;
  }
  .userTitle{
    color: 	#cc0000;
    background-color: #e2b9b6;
    border-radius: 14px;
    box-shadow: 12px 12px 12px -11px rgb(0 0 0 / 75%);
    padding: 4px 10px
  }
  .userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: 		#9e0000;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    box-shadow: 12px 10px 12px -11px rgba(0, 0, 0, 0.75);
  }
  
  .userContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 12px 12px -11px rgb(0 0 0 / 75%);
    background-color: #e5e5e5;
    border-radius: 14px;
    padding-left: 32px;
  }
  
  .userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 12px 12px -11px rgb(0 0 0 / 75%);
    margin-left: 20px;
    background-color: #e5e5e5;
    border-radius: 14px;
    padding-left: 32px;
  }
  
  .userShowTop {
    display: flex;
    align-items: center;
  }
  
  .userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: 700;
  }
  
  .userShowUsername {
    font-weight: 700;
  }
  
  .userShowUserTitle {
    font-weight: 300;
  }
  
  .userShowBottom{
      margin-top: 20px;
  }
  
  .userShowTitle {
    font-size: 14px;
    font-weight: 700;
    color: 	#ff0000;
  }
  
  .userShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: 	#272727;
      font-weight: 600;
  }
  
  .userShowIcon{
      font-size: 16px !important;
  }
  
  .userShowInfoTitle{
      margin-left: 10px;
  }
  
  .userUpdateTitle{
      font-size: 24px;
      font-weight: 700;
      color:#9e0000
  }
  
  .userUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
  }
  
  .userUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .userUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
      color:#ff0000;
      font-weight: 700;
  }
  
  .userUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
      border-radius: 8px;
      padding-left: 10px;
      box-shadow: 12px 10px 12px -13px rgb(0 0 0 / 75%);
  }
  
  .userUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .userUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .userUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .userUpdateIcon{
      cursor: pointer;
  }
  
  .userUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: 	#272727;
      color: white;
      font-weight: 600;
  }