.productList{
    flex: 4;
    background-color: #e5e5e5;
    padding-top: 36px;
    padding-left: 36px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}
.tool{
    height: 28px!important;
    color: black !important;
    font-weight: bold !important;
    margin: 5px !important;
    font-size: 10px !important;
    border: 1px solid #555 !important;
    border-radius: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.tool-search{
    height: 28px!important;
    color: black !important;
    font-weight: bold !important;
    margin: 5px !important;
    font-size: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute !important;
    right: 40px !important;
    /* border-top: 1px solid #555 !important; */
    padding: 15px !important;
    box-sizing: border-box !important;
    /* border-radius: 10px !important; */
}